button {
    width: 100%;
    border: 0px #05152a;
    background-color: #05152a;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 2px;
    cursor: pointer;
}

div.show {
    padding: 2px;
    text-decoration: underline;
    color: #05152a;
    cursor: pointer;
    text-align: left;
}